.asoundrc
.log/
.var/
.compiz/
.dmrc
.sudo_as_admin_successful
.wget-hsts
.xsession-errors
.xsession-errors.old
.zcompdump
.zcompdump-braxtons-laptop-5.8
examples.desktop
jobs/
jobs
seagate/
.bash_history
.bash_logout
.bashrc
.Xauthority
.Xclients
.cache/
.cargo/
.clangd/
.config/
.drirc
.dotnet
.dub/
.face
.face.icon
.git-credentials
.gitconfig
.gtkrc-2.0
.eclipse/
.gem/
.gnupg/
.java/
.Juce Audio Plugin Host/
.kde4/
.local/
.minecraft
.nvidia-settings-rc
.psql_history
.python_history
.rubberband.wisdom.d
.mozilla/
.npm/
.nv/
.pki/
.pulse/
.rustup/
.shell.pre-oh-my-zsh
.steampath
.steampid
.viminfo
.subversion/
.themes/
.swt/
.vscode-insiders/
.xinitrc
.yarnrc
.zcompdump-braxtons-pc-5.7.1
.zcompdump-braxtons-pc-5.8
.zsh_history
audio-dev/
ddl/
git/
Projucer/
.vst/
.vst3/
Ardour Sessions/
Desktop/
Documents/
Downloads/
go/
JUCE_CMAKE/
JUCE/
snap/
Pictures/
audio-dev
ddl
git
Projucer
sessions
.oh-my-zsh
.oh-my-zsh/
aur-temp
aur-temp/
.pipewire-media-session
.pipewire-media-session/
.jackdrc
.VST2/
.VST3/
.steam/
packages-microsoft-prod.deb
.android/
.conan/
.gradle/
.hplip/
.jdks/
.lesshst
.m2/
.node_repl_history
.rnd
.sonarlint/
.ssh/
.vcpkg/
.xmake/
.yarn/
.zshenv
SoftMaker/
clion_settings.zip
dictionary.txt
eclipse-workspace/
github_token.txt
gitlab_token.txt
seagate
