.bash_history
.bash_logout
.bashrc
.Xclients
.cache/
.cargo/
.clangd/
.config/
.drirc
.dotnet
.dub/
.face
.face.icon
.git-credentials
.gitconfig
.gtkrc-2.0
.eclipse/
.gem/
.gnupg/
.java/
.Juce Audio Plugin Host/
.kde4/
.local/
.minecraft
.nvidia-settings-rc
.psql_history
.python_history
.rubberband.wisdom.d
.mozilla/
.npm/
.nv/
.pki/
.pulse/
.rustup/
.shell.pre-oh-my-zsh
.steampath
.steampid
.viminfo
.subversion/
.themes/
.swt/
.vscode-insiders/
.xinitrc
.yarnrc
.zcompdump-braxtons-pc-5.7.1
.zcompdump-braxtons-pc-5.8
.zsh_history
audio-dev/
ddl/
git/
Projucer/
.vst/
.vst3/
Ardour Sessions/
Desktop/
Documents/
Downloads/
go/
JUCE_CMAKE/
JUCE/
snap/
Pictures/
audio-dev
ddl
git
Projucer
sessions
.oh-my-zsh
.oh-my-zsh/
aur-temp
aur-temp/
.pipewire-media-session
.pipewire-media-session/
.jackdrc
